POLYSIGHT_DATA_DIR=/ruta/al/directorio/labeled-images
POLYSIGHT_MANIFEST_DIR=/ruta/a/manifests
POLYSIGHT_WEIGHTS_PATH=/ruta/efficientnet_b0_rwightman-7f5810bc.pth
POLYSIGHT_TRACKING_URI=http://127.0.0.1:5000
POLYSIGHT_RUNS_DIR=/ruta/a/runs
