POLYSIGHT_CLUSTER_ROOT=/home/christian.bueno__espol.edu.ec/projects/polysight
POLYSIGHT_STORAGE_ROOT=/home/christian.bueno__espol.edu.ec/projects/polysight-storage
POLYSIGHT_DATA_ARCHIVE=/home/christian.bueno__espol.edu.ec/datasets/hyper-kvasir-labeled-images.zip
POLYSIGHT_WEIGHTS_PATH=/home/christian.bueno__espol.edu.ec/projects/polysight-storage/weights/efficientnet_b0_rwightman-7f5810bc.pth
POLYSIGHT_MLFLOW_ROOT=/home/christian.bueno__espol.edu.ec/projects/polysight-storage/mlflow
